<h1>
  立委： <%= @inquiry.congressman.name %> <br>
  會議： <%= @inquiry.interpellation.name %><br>
  質詢： <%= @inquiry.name %>
</h1>

<%= render "common/surveys/video_section", inquiry: @inquiry %>
影片沒有參考價值？(影片是程序影片)
<%#= link_to("跳過", mark_as_no_value_student_course_inquiry_path(@course, @inquiry), method: :post) %>

<%= render "common/surveys/hidden_form", resource: [:volunteer, @inquiry, @survey], questions: @questions %>
