<p>
  <strong>名稱:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @event.token %>
</p>


<p>
  <strong>狀態:</strong>
  <%= event_status(@event.active) %>
</p>

<p>
  <strong>會期:</strong>
  <%= @event.evaluation.full_name %>
</p>

<p>
  <strong>Interpellation:</strong>
  <%= @event.interpellation.name %>
</p>

<%= link_to '編輯活動', edit_admin_event_path(@event) %> |
<%= link_to '返回活動列表', admin_events_path %>
