<div id="survey-wrapper" class="hidden">
  <div class="page-header">
    <h3>請填寫評鑑</h3>
  </div>
  <%= simple_form_for(resource) do |f| %>
    <%= f.error_notification %>

    <% if f.object.errors.present? %>
      <ul>
        <% f.object.errors.messages.each do |key, messages| %>
        <li><%= key %>: <%= messages.join(", ") %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-inputs">
      <% @questions.each_with_index do |question, index| %>
        <%= f.simple_fields_for(:answers, Answer.new) do |answer| %>
          <div class="page-header">
          問題 <%= index +1 %>：<%= question.name %>
          </div>
          <%= answer.hidden_field :question_id, value: question.id %>
          <%= answer.input :point, as: :radio_buttons, collection: 1..5 %>
        <% end %>
      <% end %>
    </div>
    <div class="form-inputs">
      <%= f.input :impression_before_and_after_watching_inquiry %>
      <%= f.input :comment_to_the_congressman %>
      <%= f.input :whether_to_recommend_the_inquiry %>
      <%= f.input :whether_inclusion_of_unappropriate_conversion %>
      <%= f.input :suggestion_of_survey %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "送出評鑑" %>
    </div>
  <% end %>
</div>

<%# content_for would be affected by turbolink %>
<script>
  $("#video-finish-button").click(function(e) {
    $("#survey-wrapper").removeClass("hidden");
  })
</script>
