<%= render "admin/evaluation_dropdown" %>
<h1>委員會列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>委員會名稱</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td><%= link_to committee.name, admin_committee_path(committee) %></td>
        <td><%= link_to '編輯', edit_admin_committee_path(committee) %></td>
        <td><%= link_to '刪除', [:admin, committee], method: :delete, data: { confirm: '確定刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>新增委員會</h4>
<%= render "form" %>

<h4>匯入當期委員會資料</h4> 
<%= simple_form_for(@committee, url: import_data_admin_committees_path) do |f| %>
  <%= f.input :api_url %>
  <%= f.button :submit, "送出", class: "btn btn-primary" %>
<% end %>
