<p>
  <strong>名稱:</strong>
  <%= @committee.name %>
</p>
<p><%= @committee.description %></p>

<table class="table">
  <thead>
    <tr>
      <th>會議</th>
      <th>日期</th>
      <th>內容</th>
      <th col="2"></th>
    </tr>
  </thead>
    <tbody>
      <% @interpellations.each do |interpellation| %>
      <tr>
        <td><%= link_to(interpellation.name, [:admin, interpellation]) %></td>
        <td><%= interpellation.interpellation_date.to_date %></td>
        <td><%= truncate(interpellation.content) %></td>
        <td><%= link_to(icon("trash"), [:admin, interpellation], method: :delete) %></td>
      </tr>
      <% end %>
    </tbody>
</table>
<%= link_to '新增會議', new_admin_committee_interpellation_path(@committee), class: "btn btn-primary" %>

<%= link_to '編輯', edit_admin_committee_path(@committee) %> |
<%= link_to '返回', admin_committees_path %>
