<div class="page-header">
  <h1><%= @congressman.name %></h1>
</div>
<div class="col-sm-6">
  <%= simple_form_for([:admin, @congressman]) do |f| %>
    <%= render "form", f: f %>
  <% end %>

</div>
<div class="col-sm-6">
  <table class="table">
    <thead>
      <th>會期</th>
      <th>政黨</th>
      <th>分數</th>
    </thead>
    <tbody>
      <% @congressman.evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.full_name %></td>
          <td><%= @congressman.congressmen_evaluations.find_by(evaluation: evaluation).party.name %></td>
          <td><%= evaluation.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>