<h1>
  活動： <%= @event.name %> <br>
  會議： <%= @event.interpellation.name %>
</h1>

<div class="video-wrapper">
  <div class="page-header">
    <h3>質詢影片</h3>
  </div>
  <video controls src="<%= @inquiry.video %>">
    Your browser does not support the video tag.
  </video>
  <br>
  <span id="video-finish-button" class="btn btn-default">我已經看完影片，開始評鑑</span>
</div>

<div id="survey-wrapper" class="hidden">
  <div class="page-header">
    <h3>請填寫評鑑</h3>
  </div>
  <%= simple_form_for([:citizen, @event, @survey]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% @questions.each_with_index do |question, index| %>
        <%= f.simple_fields_for(:answers, @answer) do |answer| %>
          <div class="page-header">
          問題 <%= index +1 %>：<%= question.name %>
          </div>
          <%= answer.hidden_field :question_id, value: question.id %>
          <%= answer.input :point, as: :radio_buttons, collection: 1..5 %>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "送出評鑑" %>
    </div>
  <% end %>
</div>

<%# content_for would be affected by turbolink %>
<script>
  $("#video-finish-button").click(function(e) {
    $("#survey-wrapper").removeClass("hidden");
  })
</script>
