<h4>活動： <%= @event.name %></h4>
<h4>會議： <%= @event.interpellation.full_name %></h4>
<h4>質詢： <%= @inquiry.name %></h4>

<%= render "common/surveys/video_section", inquiry: @inquiry %>

影片沒有參考價值？(影片是程序影片)<%= link_to("跳過", mark_as_no_value_citizen_inquiry_path(@inquiry), method: :post) %>

<%= render "common/surveys/hidden_form", resource: [:citizen, @event, @survey], questions: @questions %>
