<div class="form-inputs">
  <% @questions.each do |question| %>
    <%= f.simple_fields_for(:answers, @answer) do |answer| %>
      <%= question.name %>
      <%= answer.hidden_field :question_id, value: question.id %>
      <%= answer.input :point, as: :radio_buttons, collection: 1..5 %>
    <% end %>
  <% end %>
</div>

<div class="form-actions">
  <%= f.button :submit, "送出評鑑" %>
</div>
