<div class="page-header">
  <h1>分析資料</h1>
  <p>立委： <%= @congressman.name %></p>
  <p>會期： <%= @evaluation.full_name %></p>
</div>


<table class="table">
  <thead>
    <tr>
      <th>平均值:</th>
      <th><%= @congressman_mean %></th>
    </tr>
    <tr>
      <th>中位數:</th>
      <th><%= @congressman_median %></th>
    </tr>
    <tr>
      <th>標準差:</th>
      <th><%= @congressman_standard_deviation %></th>
    </tr>
    <th></th>
    <th>平均</th>
    <th>中位數</th>
    <th>標準差</th>
  </thead>
  <tbody>
    <% @results_group_by_question_collection.each do |results_group_by_question| %>
      <% results_group_by_question.each do |question, results| %>
      <tr>
        <th><%= question.name %></th>
        <td><%= results[:mean] %></td>
        <td><%= results[:median] %></td>
        <td><%= results[:standard_deviation] %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
