<%= simple_form_for([:admin, @congressman, @congressmen_evaluation]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :evaluation_id, Evaluation.all.map{|evaluation| [evaluation.full_name, evaluation.id]}, label: "會期" %>
    <%= f.select :party_id, Party.all.map{|party| [party.name, party.id]}, label: "政黨" %>
    <%= f.select :party_group_id, PartyGroup.all.map{|party_group| [party_group.name, party_group.id]}, label: "黨團" %>
    <%= f.input :election_type, as: :radio_buttons, collection: [["區域", "regional"], ["不分區", "at_large"]], label: "當選類型" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出" %>
  </div>
<% end %>
