<%= simple_form_for([:admin, @congressman, @congressmen_evaluation]) do |f| %>

  <div class="form-inputs">
    <%= f.association :evaluation, label_method: :full_name, label: "會期" %>
    <%= f.association :party, label: "政黨" %>
    <%= f.association :party_group, label: "黨團" %>
    <%= f.association :committee, label: "委員會" %>
    <%= f.input :election_type, as: :radio_buttons, collection: [["區域", "regional"], ["不分區", "at_large"]], label: "當選類型" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出" %>
  </div>
<% end %>
