<h3>編輯立委會期資料：<%= @congressman.name %><%= @evaluation.full_name %></h3>
<%= simple_form_for([:admin, @congressmen_evaluation]) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to '返回', admin_congressman_path(@congressman) %>
