<h4>會期：<%= @congressmen_evaluation.evaluation.full_name %></h4>
<h4>委員會：<%= @committee.name %></h4>

<h4>政黨：<%= @congressmen_evaluation.party.name %></h4>

<h4>立委類型：<%= t "congressmen_evaluation.election_type.#{@congressmen_evaluation.election_type}" %></h4>
<hr>
<h4>質詢影片</h4>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>日期</th>
        <th>會議名稱</th>
        <th>內容</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @congressman.inquiries.in_current_evaluation(@congressmen_evaluation.evaluation).each do |inquiry| %>
      <tr>
        <td><%= inquiry.interpellation_date.to_date %></td>
        <td><%= inquiry.interpellation.name %></td>
        <td><%= truncate inquiry.content, length: 200 %></td>
        <td><%= link_to "網址", inquiry.video, target: "_blank" %></td>
        <td><%= link_to("刪除", admin_congressmen_evaluation_remove_inquiry_path(@congressmen_evaluation, inquiry), method: :delete, data: {confirm: "確定要刪除？"}) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>新增質詢影片</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@inquiry, url: add_inquiry_admin_congressmen_evaluation_path(@congressmen_evaluation), method: :post) do |f| %>
      <%= f.input :number, label: "第 X 次質詢" %>
      <%= f.input :video, label: "影片網址" %>
      <%= f.association :interpellation, collection: @congressman.committees.in_current_evaluation.first.interpellations.where(evaluation: @evaluation), label_method: :full_name, label: "會議" %>
      <%= f.input :content, label: "質詢內容"  %>
      <%= f.button :submit, "送出" %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_admin_congressmen_evaluation_path(@congressmen_evaluation) %> |
<%= link_to 'Back', admin_congressman_path(@congressman) %>
