<p>
  <strong>Evaluation:</strong>
  <%= @congressmen_evaluation.evaluation.full_name %>
</p>

<p>
  <%= @committee.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @congressmen_evaluation.party.name %>
</p>

<p>
  <strong>Party group:</strong>
  <%= @congressmen_evaluation.party_group.name %>
</p>

<p>
  <strong>Election type:</strong>
  <%= @congressmen_evaluation.election_type %>
</p>

<h4>質詢影片</h4>
<div class="panel panel-default">
  <h6>新增質詢影片</h6>
    <%= simple_form_for(@inquiry, url: add_inquiry_admin_congressmen_evaluation_path(@congressmen_evaluation), method: :post) do |f| %>
      <%= f.input :number, label: "第 X 次質詢" %>
      <%= f.input :video, label: "影片網址" %>
      <%= f.input :content, label: "質詢內容"  %>
      <%= f.button :submit, "送出" %>
    <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>內容</th>
      <th>網址</th>
    </tr>
  </thead>
  <tbody>
    <% @congressman.inquiries.in_current_evaluation(@congressmen_evaluation.evaluation).each do |inquiry| %>
    <tr>
      <td><%= inquiry.interpellation_date.to_date %></td>
      <td><%= inquiry.content %></td>
      <td><%= inquiry.video %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_congressmen_evaluation_path(@congressmen_evaluation) %> |
<%= link_to 'Back', admin_congressman_path(@congressman) %>
