<p id="notice"><%= notice %></p>

<h1>政黨列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>政黨名稱</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= link_to party.name, admin_party_path(party) %></td>
        <td><%= link_to '編輯政黨資料', edit_admin_party_path(party) %></td>
        <td><%= link_to '刪除政黨資料', admin_party_path(party), method: :delete, data: { confirm: '確定刪除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '建立政黨', new_admin_party_path, class: "btn btn-primary" %>
