<%= render "admin/evaluation_dropdown" %>
<h1>政黨列表</h1>
<h2>匯入當期立委資料</h2>
<%= simple_form_for(@congressman, url: import_data_admin_congressmen_path) do |f| %>
  <%= f.input :api_url, label: "網址" %>
  <%= f.button :submit, "送出" %>
<% end %>
  
<table class="table">
  <thead>
    <tr>
      <th>政黨名稱</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each do |party| %>
      <tr>
        <td><%= link_to party.name, admin_party_path(party) %></td>
        <td><%= link_to '編輯政黨資料', edit_admin_party_path(party) %></td>
        <td><%= link_to '刪除政黨資料', admin_party_path(party), method: :delete, data: { confirm: '確定刪除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '建立政黨', new_admin_party_path, class: "btn btn-primary" %>
