<div class="page-header">
  <h1>課程：<%= @course.name %> <%= link_to("編輯", edit_admin_course_path(@course), class: "btn btn-default") %></h1>
  <h2>Teacher: <%= @course.teacher_name %></h2>
  <p>Token: <%= @course.token %></p>
</div>

<h2>學生列表</h2> 

<table class="table">
  <thead>
    <th>#</th>
    <th>姓名</th>
    <th>Email</th>
    <th>做過的問卷數量</th>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.id %></td>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.inquiries.count %></td>
    </tr>
  <% end %>
  </tbody>
</table>